            @font-face {
                font-family: "FNER";
                src: url("Metropolis-Regular.otf");
            }
            @font-face {
                font-family: "BRfontFace";
                src: url("Montserrat.ttf");
            }
            body {
                display:flex;
                background-color: black;
                background-size: cover;
                align-content: center;
                justify-content: center;
                overflow-y: hidden;
                overflow-x: hidden;
            }
            select {
                width:400px;
                height: 50px;
            }
            p {
                color: green;
            }
            Btn1 {
                width: 300px;
                height: 400px;
                font-size: 50px;
                font-family: "BRfontFace", sans-serif;
                border-radius: 20px;
                border-width: 2px
            }
            Btn2 {
                width: 200px;
                height: 100px;
                font-size: 35px;
                font-family: "BRfontFace", sans-serif;
                border-radius: 20px;
                
            
            }
            Btn3 {
                width: 200px;
                height: 100px;
                font-size: 35px;
                font-family: "BRfontFace", sans-serif;
                position: fixed;
                bottom: 20px;
                border-radius: 20px;
                border-width: 0.5px;
                
            }
            Btn4 {
                font-family: "BRfontface", sans-serif;
                padding: 10px;
                border-radius: 20px;
                border-width: 0.5px;
            }
            Btn5 {
                width: 500px;
                height: 60px;
                font-size: 25px;
                font-family: "BRfontFace", sans-serif;
                background-color: white;
                border-radius: 25px;
                
            }
            Heading1 {
                display: flex;
                font-family: "Helvetica";
                /*color: #ce132eff;*/
                color: white;
                font-weight: bold;
                font-size: '50px';
                white-space: nowrap;
                position: fixed;
                bottom: 0;
            }
            Heading2 {

                display: flex;
                font-family: "BRfontFace";
                font-weight: bold;
                color: black;
                font-size: 50px;

            }
            center {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            OperatorImg {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            footer {
                position: fixed;
                bottom: 0;
                
            }
